.background-image {
  background-image: url("./assets/tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e2e2e0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
